<div id="footer">
  <div class="payments flex-item">
    <ul>
      <li><a><i class="fa fa-cc-stripe" aria-hidden="true"></i></a></li>
      <li><a><i class="fa fa-cc-paypal" aria-hidden="true"></i></a></li>
      <li><a><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></li>
      <li><a><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="description flex-item">
      <p>© AMU Display - Designed by <b class="light"><a routerLink="">Mirsky Media</a></b></p>
      <p>Coded by <b class="light"><a  href="https://www.facebook.com/profile.php?id=100011132926565">Duong Nguyen</a></b></p>
  </div>
</div>

