#footer{
    width:100%;
    background-color: #262628;
    color: white;
    height: 125px;
    font-size: 13px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    padding: 10px 40px;
    z-index: 1 !important;
}

#footer div:last-child{
    margin-left: auto;
}
.payments ul{
    list-style: none;
    overflow: hidden
}
.payments ul li {
    float: left;
    margin-right: 10px;
}


.payments ul i{
    
    font-size: 40px;
    color: white;
}
#footer .light{
    font-weight: 700;
    font-size: 15px;
}
.light a{
    text-decoration: none;
    color: white;
}
#footer .fa{
    cursor: default;
}
#footer p{
    padding: 0;
    margin: 0;
    text-align: right;
}
.description{
    position: relative;
    top:-10px;
}

@media screen and (max-width:768px){
    
    #footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #footer[_ngcontent-c5] .fa[_ngcontent-c5] {
        font-size: 35px;
    }
    #footer .description{
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    #footer p{
        text-align: center;
    }
    .payments{
        position: relative;
        left: -15px;
    }
}

@media screen and (max-width:375px){
    .payments ul li {
        margin-right: 5px;
    }
    
}

@media screen and (max-width:320px){
    .payments ul li {
        margin-right: 5px;
    }
    #footer .description{
        font-size: 10px;
    }
    #footer .light{
        font-size: 12px;
    }
    .payments[_ngcontent-c7] ul[_ngcontent-c7] i[_ngcontent-c7] {
        font-size: 30px;
    }
}

