<div id="display-page">
    <div class="display-page-content">
      <div class="container">
        <h1>Track Your Order</h1>
        
        <div class="form-section" >
              <div class="container">
                <p>To track your order please enter your Order ID in the box below and press return.
                   This was given to you on your receipt and in the confirmation email you should have received.</p>
                <div class="row">
                  <div class="col-lg-6">
                    <img src="assets/images/track_your_order.png" alt="">
                  </div>
                  <div class="col-lg-6 text-center">
                      <form id="form-order">
                          <div class="form-group">
                            <label for="exampleInputEmail1">ORDER ID</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Found in your order confirmation email.">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">BILLING EMAIL</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email you used during checkout.">
                          </div>
                      
                      </form>
                      <button type="button" class="btnOrder">Track</button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>