<div id="top-header">
  <div class="preOrder-title">Now Accepting Pre-Orders!</div>
  <div class="toLeft">
      <ul class="left">
          <li><a routerLink="/track-order">Track Your Order</a></li>
          <li>
              <ul class="social">
                  <a routerLink=""><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
                  <a routerLink=""><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
                  <a routerLink=""><li><i class="fa fa-pinterest" aria-hidden="true"></i></li></a>
                  <a routerLink=""><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
                  <a routerLink=""><li><i class="fa fa-youtube-play" aria-hidden="true"></i></li></a>
                </ul>
          </li>
        </ul>
  </div>
</div>
