<div id="leftSidenav" class="leftSidenav">
    <img src="assets/images/logoAmuHD.png" alt="">
    <ul class="linkPages">
      <li><a routerLink="/pre-order" class="closeLeft">PRE_ORDER AMU</a></li>
      <li><a routerLink="/about" class="closeLeft">ABOUT AMU</a></li>
      <li><a routerLink="/track-order" class="closeLeft">TRACK YOUR ORDER</a></li>      
    </ul>
 
    
    <ul class="social">
      <a routerLink=""><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
      <a routerLink=""><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
      <a routerLink=""><li><i class="fa fa-pinterest" aria-hidden="true"></i></li></a>
      <a routerLink=""><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
      <a routerLink=""><li><i class="fa fa-youtube-play" aria-hidden="true"></i></li></a>
    </ul>
</div>