<div id="home">
  <div id="welcome">
    <div class="display-content">
      <img src="assets/images/amu-header-background2HD.png" class="img-fluid wow slideInDown"  data-wow-duration="1.5s" alt="background">
      <p>
        <a routerLink="/learn-more">Learn More</a>
        <a routerLink="/pre-order">Buy Now</a>
      </p>
    </div>
  </div>
  <div id="display">
      <div class="display-content">
        <h3>Display with Intelligence</h3>
        <h1>90 Nail Polish Bottles Programmed to Spin!</h1>
        <a routerLink="/learn-more">Learn More</a>
      </div>
  </div>
  <div id="product">
      <div class="display-content">
          <img src="assets/images/section2HD.png" class="img-fluid wow slideInDown"  data-wow-duration="2s" alt="">
      </div>
  </div>
  <div id="solugan">
      <div class="display-content">
        <img src="assets/images/nearfooterHD.png" class="img-fluid wow slideInDown" data-wow-duration="1.5s" alt="">
        <h3>This is truly</h3>
        <h1>The First</h1>
        <h3>of it’s Kind!</h3>
        <a routerLink="/pre-order">PRE-ORDER TODAY!</a>
      </div>
  </div>
</div>