<div id="rightSidenav" class="rightSidenav">
  <ng-container *ngIf="totalCarts==0">
      <img src="assets/images/empty_cart_offcanvas.png" alt="">
      <h3>Your cart is currently empty.</h3>
  </ng-container>
  <ng-container *ngIf="totalCarts!=0">
    <button class="btn btn-success">Check Out</button>


      <div class="card-view" *ngFor="let cartView of cartViews" >
        <div class="container" *ngIf="cartView.quantity!=0">
          <div class="row">
            <div class="col-6 imagesView">
                <img [src]="cartView.src" alt="images">
            </div>
            <div class="col-6 desc">
                <p><span class="strong">Name:</span> {{cartView.name}} Amu</p>
                <p><span class="strong">Price:</span> {{cartView.price|currency:'USD':true}}</p>
                <p><span class="strong">Quantity:</span> {{cartView.quantity}}</p>
            </div>
          </div>
          <div class="row control mt-4">
              <div class="col-2">
                <button class="btn btn-danger" (click)="decrease(cartView.name)">-</button>
              </div>
              <div class="col-8 showView">
                  you have <span class="strong">{{cartView.quantity}}</span> in carts
                </div>
              <div class="col-2 move">
                <button class="btn btn-primary" (click)="increase(cartView.name)" >+</button> 
              </div>
            </div>
        </div>
      </div>
     
  </ng-container>
</div>